* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    height: 46px;
    background-color: #000;
}

#nav li {
    display: inline-block;
    line-height: 46px;
    position: relative;

}

#nav > li > a {
    text-decoration: none;
    padding: 0 24px;
    text-transform: uppercase;
    color: #fff;
}

#nav li:hover a {
    color: #000;
    background-color: #ccc;
    display: inline-block;

}

#nav .subnav {
    /* display: none; */
    position:  absolute;

}

#slider{
  background-color: #ccc;
    min-height: 500px;
}

#content{

}

#footer{

}
